<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>getOrderInfo</title>
</head>
<body>
	订单id：{$data.id} <br>
	机型：{$data.pc} <br>
	地址：{$data.address} <br>
	信息：{$data.info} <br>
	<input type="text" name="repairtor" value="肖小平" class="repairtor" placeholder="输入维修人员" /><br>
	<button orderid="{$data.id}">确认去检修</button>
	<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script>
		$(function() {
			$('button').on('click', function(){
				$.ajax({
					url: 'http://repaire.dnpuzi.com/home/index/repairtorEnsureOrder',
					type: 'post',
					data: {
						orderid: $('button').attr('orderid'),
						repairtor: $('.repairtor').val()
					},
					success: function(data) {
						alert(data);
					}
				})
			});
		});
	</script>
</body>
</html>